section(data-transition="convex")
  h3 loader能做什么
  ul(style="zoom: .8")
    li(class="fragment fade-left") 同步或者异步处理当前模块[String source or Buffer(raw)]
    li(class="fragment fade-right") 解析或者加载其他模块(resolve, loadModule)
    li(class="fragment fade-right") 生成或更新Source Map
    li(class="fragment fade-right") 管理依赖(addDependency)
    li(class="fragment fade-right") 输出文件(emitFile)
    li(class="fragment fade-up") 例子：
      a(href="https://github.com/webpack-contrib/raw-loader/blob/master/src/index.js" target="_blank") raw-loader
  
