section(data-transition="convex")
  h3 pitch loader
  p 有时候我们不关心模块的内容而只关心请求本身，此时可以用
    a(href="https://www.webpackjs.com/api/loaders/#%E8%B6%8A%E8%BF%87-loader-pitching-loader-" target="_blank") pitch-loader
    | 来实现
  p vue-loader内部会注入一个
    a(href="https://github.com/vuejs/vue-loader/blob/master/lib/loaders/pitcher.js" target="_blank") pitch loader
    | 来实现模版的编译和css scoped等特性
