section
  section
    h3 vue-flags-webpack-plugin
    div(class="fragment fade-down")
      p vue-flags-webpack-plugin 是一个Webpack插件
      p 用来去除无用的代码
  section
    h3 contents
    ol
      li webpack 工作流程
      li webpack loader
      li webpack plugin
      li vue-flags-webpack-plugin
