section(data-transition="zoom")
  h4(style="color:var(--theme-color);text-align:left;text-transform:capitalize;margin-top:20px") vue-flags-webpack-plugin
  include flag-plugin/usage.pug
  include flag-plugin/plugin.pug
  include flag-plugin/plan.pug
  include flag-plugin/script.pug
  include flag-plugin/css.pug
  include flag-plugin/template.pug
  include flag-plugin/ignore.pug
  include flag-plugin/hotload.pug
  include flag-plugin/notice.pug
