section
  h3 VUE SSR
  section
    ul
      li 概念
      li 流程
      li 实现
      li 问题
      li 部署
include intro.pug
section
  section 
    h3 webpack 打包
include webpack.pug
section
  seciton
    h3 渲染器 vue-server-render
include renderer.pug
include issue.pug

include async.pug
include cache.pug
include deploy.pug
section
  | Vue SSR 指南
  br
  a(href="https://ssr.vuejs.org/") https://ssr.vuejs.org/
  p
  h3 Thanks, Q&A
