section
  h3 VUE SSR
  section
    ul
      li 概念介绍
      li 实现方式
      li 注意的问题
include intro.pug
section
  section 
    h3 webpack 打包
include webpack.pug
section
  seciton
    h3 渲染器 vue-server-render
include renderer.pug
include issue.pug
section
  seciton
    h3 数据预取
include async.pug
include cache.pug
include deploy.pug
section
  | Vue SSR 指南
  br
  a(href="https://ssr.vuejs.org/zh/") https://ssr.vuejs.org/zh/
  p
  h3 Thanks, Q&A
