section
  h3 什么是服务端渲染
  | 在服务端渲染vue组件，将生成的html返回
  pre
    code.
      const App = require('App.vue') // root component
      const app = new Vue({
        render(h) { return h(App) }
      })
      server.get('/', (req, res) => {
        res.type = 'html'
        res.body = renderToHtml(app)
      })
