section
  h3 Webpack的几个概念
  ul(style="zoom: 0.7")
    li(class="fragment fade-right") Entry: 入口文件，Webpack 在这里开始构建
    li(class="fragment fade-right") Module: 模块，在 Webpack 里一切皆模块，一个模块对应着一个文件
    li(class="fragment fade-right") Dependency: 依赖，包含了一个模块与其他模块的依赖关系
    li(class="fragment fade-right") Chunk: 代码块，一个 Chunk 由多个模块组合而成，用于代码合并与分割
    li(class="fragment fade-right") Asset: 最后生成的资源文件(css, js, html, image..)
    li(class="fragment fade-right") Loader: 用来转换不同格式的模块，最终转换为合法的JS源码
    li(class="fragment fade-right") Plugin: 插件用来监听Webpack发出的事件，做一些增强的工作
