section(data-transition="convex")
  h3 plugin能做什么
  p 除了转换模块之外的几乎所有事情，例子：
    a(href="https://github.com/webpack/webpack/blob/master/lib/optimize/RemoveEmptyChunksPlugin.js" target="_blank") RemoveEmptyChunksPlugin
  ul
    li 处理Module, Chunk, Assets
    li 处理JS源码和生成代码
    li 处理构建信息
section(data-transition="convex")
  h3 webpack = 插件？
  ul
    li webpack 本质上是基于 tapable 的一个事件系统
    li plugin 通过注册 webpack 暴露出来的 hooks 完成大部分的任务
    li 这些 hooks 的回调中包含 Module, dependency-tree, chunk, asset 以供 plugin 介入编译构建过程
