section(data-transition="convex") 关于样式
  p 使用 
    a(href="https://git.garena.com/shopee-sz-fe/vue-feature-flag/blob/master/lib/postcss-flags-plugin.js" target="_blank") postcss 插件
    | 来转换标准的
    a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/@supports" target="_blank") @supports
    | 语法
  p
    pre
      code(class="language-css")
        | /* css source code */
        | @support (--flag: A) {
        |   .this-a { color: #aaa; }
        | }
        | @support not (--flag: A) {
        |   .this-not-a { color: white; }
        | }
        | /* if A == true, after compiled */
        | .this-a { color: #aaa; }
section(data-transition="zoom")
  p 为什么选择 @supports 的写法？
  ul
    li @supports 和自定义属性都是标准的css规范
    li 写法在现有的css预处理格式中都是兼容的
    li 从语义(supports, not, and, or)上来讲比较符合插件的功能

