section
  p 有时需要根据flag忽略一些模块
  p 基于
    a(href="https://git.garena.com/shopee-sz-fe/vue-feature-flag/blob/master/lib/ignore-module-loader.js" target="_blank") ignore file loader
    | 过滤，它是个pitch loader，因为此时我们不关心模块的内容，也不需要其他 loader 处理
