@import url('reveal.js/dist/reset.css');
@import url('reveal.js/dist/reveal.css');

.reveal h3, .reveal h4 {
  text-transform: capitalize;
  color: var(--theme-color);
  font-weight: bold;
}
.reveal .progress {
  top: 0;
  bottom: auto;
}
.reveal ul li,
.reveal ol li {
  margin-top: 30px;
}

.reveal a {
  margin: 0 14px;
}

.reveal p {
  line-height: 1.8;
}

.reveal ::selection {
  background-color: var(--theme-color);
}

.reveal .controls {
  color: var(--theme-color);
}

.reveal code[class*="language-"],
.reveal pre[class*="language-"] {
  font-size: .8em;
}

.reveal .slide-number {
  top: 10px;
  bottom: auto;
  border-radius: 4px;
}

.reveal .progress {
  color: var(--theme-color);
  height: 4px;
}

.g-left-title {
  color: var(--theme-color);
  text-align: left;
  text-transform: capitalize;
  margin-top: 20px;
}

.g-theme-color {
  color: var(--theme-color);
}

#export-btn {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
#export-btn::before {
  content: '💾';
  display: inline-block;
}
@media print {
  #export-btn { display: none; }
}
