section(data-title="历史")
  h3 历史过程
  ul(style="zoom: .8")
    li June 2015, ES module的规范正式定义
    li June 2015 – September 2017: 主流浏览器实现了ES模块的实验性支持
    li September 2017：Nodejs 8.5实现了ES模块的实验性支持
    li September 2017 – May 2018：主流浏览器正式支持ES模块
    li October 2018：node团队提出ES模块重构后的支持方案
    li 2019.11.21：node发布13.2.0，正式支持ES模块（仍有提示，因为一些feature仍在讨论和开发中）
    li ......
